html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto";
  overflow-x: hidden;
}

ul, ol {
  list-style: none;
}

p {
  margin: 0;
}

iframe {
  border: none;
}

#home {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  z-index: 1;
  position: absolute;
  padding: 10px 35px;
}

#else {
  background-color: #003262;
  box-shadow: 'none';
  z-index: 1;
  padding: 10px 35px;
}

.background-tint {
  background-color: rgba(80, 79, 79, 0.3) !important;
  background-blend-mode: multiply;
}

.background-tint-more {
  background-color: rgba(80, 79, 79, 0.4) !important;
  background-blend-mode: multiply;
}

.ProfileForm > input {
  display: inline-block;
}

.navlink:hover {
  text-decoration: none;
}

.cover {
  height: 100vh;
  width: 100vw;
  padding: 80px 20px;
  background-image: url('/images/hand.jpeg');
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.sponsorsheader {
  text-align: center;
  padding: 120px;
  padding-bottom: 100px;
  background-image: url('/images/fence.jpeg');

  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

input:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

input[type=text]:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

textarea:focus {
  box-shadow: none;
}

button:focus {
  outline: none;
}

footer {
  display: inline-block;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

label {
  display: block;
  line-height: 1.8;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
  margin: 0 5px;
}

form button[type="submit"] {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: black;
}

/*
 * Generics
 *
 */

 .appbar {
  position: relative;
  z-index: 5;
 }

 .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.align-center {
  text-align: center;
}

.sub-info {
  color: black;
  font-family: 'roboto';
  font-weight: 200;
  margin: 0;
}

.sub-container {
  position: relative;
  padding-top: 7.5px;
  padding-bottom: 2.5px;
}

.inline {
  display: inline-block;
}

.divider {
  position: relative;
  height: 100%;
  min-height: 40px;
  top: -2px;
  width: 2px;
  background-color: white;
  display: inline-block;
  margin: 0 15px;
}

 .container {
  padding: 10px;
 }

.left-right-container {
  padding: 0 15px;
}

.rosegarden:hover {
  background-color: #EE1F60;
  border: 2px solid #EE1F60;
  color: white;
}

.goldengate:hover {
  background-color: #ED4E33;
  border: 2px solid #ED4E33;
  color: white;
}

.laplane:hover {
  background-color: #00A598;
  border: 2px solid #00A598;
  color: white;
}

.lawrence:hover {
  background-color: #00B0DA;
  border: 2px solid #00B0DA;
  color: white;
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
}

.list-inline {
  display: inline-block;
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0 5px;
}

.text-success {
  color: #29b35b;
}

.text-danger {
  color: #b61b17;
}

.text-info {
  color: #31708f;
}

.avatar {
  margin-right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.float-right {
  float: right;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-10%);
}

.navbar {
  background-color: #EEEEEE;
  margin: 0;
  width: calc(100% - 20px);
  padding: 0 10px;
}

.nav-right {
  font-family: 'lato';
  font-size: 14px;
  position: relative;
  top: 50%;
  transform: translateY(15%);
}

.info {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100vw;
  padding: 20px;
}

.video-bg {
  display: inline-block;
  position: relative;
  top: -16px;
}

.video-container {
  width: 100%;
  text-align: center;
  position: relative;
}

.video-bg-container {
  text-align: center;
  width: 100vw;
  height: 600px;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.video-bg-file {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}


.chevron-text {
  display: inline-block;
  position: relative;
  font-family: "PT sans";
}

.title {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.title h1 {
  text-transform: uppercase;
  border-bottom: 2px solid black;
  font-family: "PT sans";
  font-weight: 700;
  font-size: 1.25em;
  padding: 0;
  margin: 0;
  position: relative;
  margin-top: 50%;
}

.title-outline {
  display: inline-block;
  border: 2px solid black;
  position: absolute;
  top: 15%;
  left: -15%;
  height: 12em;
  width: 20em;
  -webkit-transform: skew(-10deg);
     -moz-transform: skew(-10deg);
       -o-transform: skew(-10deg);

}

.chevron-labels {
  display: inline-block;
  width: 500px;
  transform: translateX(-20px);
  background-color: grey;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.button-container {
  padding: 35px;
  background-color: rgba(0,0,0,0.6);
  min-width: 300px;
  width: 50%;
  color: white;
  position: relative;
  z-index: 5;
  text-align: left;
}

.button-info {
  margin-bottom: 10px;
}

.button {
  font-family: 'lato';
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 5px 10px;
  width: 150px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

.button p {
  color: white;
}

.button {
  color: white;
}

.student:hover {
  background-color: #FDB515;
  border: 2px solid #FDB515;
  color: white;
}

.professor:hover {
  background-color: #00B0DA;
  border: 2px solid #00B0DA;
  color: white;
}

.video-header {
  background-color: rgba(0,0,0,.8);
  font-size: 1.5em;
  text-align: left;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.video-header h1 {
  font-family: 'Playfair Display';
  margin-bottom: 5px;
  margin-top: 0;
  padding-bottom: 0;
  line-height: 1em;
  color: white;
}

.video-subtitle {
  color: white;
  font-family: 'lato';
  text-transform: uppercase;
}

.video-header p {
  margin-top: 10px;
  color: white;
  font-family:"roboto";
  font-weight: 300;
}

.class-list-item {
  font-family: 'Lato';
  font-size: 1em;
  text-align: center;
  display: inline-block;
  border: 2px solid white;
  color: white;
  position: relative;
  z-index: 11;
  padding: 5px 15px;
  width: auto;
  text-align: center;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
}

.class-list-container {
  background-color: rgba(50,50,50,0.4);
  position: relative;
  left: 0;
  min-width: 300px;
  width: 50%;
  height: auto;
  min-height: 50px;
  padding: 35px;
  padding-bottom: 15px;
  padding-top: 0;
  text-align: left;
  /*display: inline-block;*/
  float:left;
  color: white;
}

.class-list-container h1 {
  margin-top: 35px;
  padding: 0;
  font-style: "Lato";
  font-weight: 300;
  font-size: 16px;
}

.top-container {
  float: left;
  position: absolute;
  top: 0px;
}

.video-header-container {
  background-color: rgba(0,0,0,0.825);
  width: 100vw;
  height: auto;
  padding-bottom: 20px;
  min-height: 150px;
  display: inline-block;
  left: 0;
  top: 0px;
}

.contact-container {
  padding: 40px 35px;
  background-color: rgba(150,150,150,0.3);
  min-width: 300px;
  width: 50%;
  color: white;
  position: relative;
  z-index: 5;
  text-align: left;
  float:left;
  display: inline-block;
}

.sponsors-container {
  width: 100%;
  height: auto;
  min-height: 300px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 570px;
}

.sponsor {
  display: inline-block;
  width: 200px;
  height: auto;
  margin: 0 50px;
  vertical-align: top;
  padding-top: 60px;
}

#cal {
  position: relative;
  transform: translateY(75%);
}
.info-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 35px;
  padding: 0;
}

.info-container h1 {
  margin: 0;
}

.info-header {
  text-align: center;
}

.info-header h1 {
  color: white;
}

.info-col {
  display: inline-block;
  width: 20%;
  min-width: 250px;
  text-align: left;
  vertical-align: top;
  padding: 30px;
  color: white;
  margin: 0 10px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.underline {
  border-bottom: 2px solid white;
}

.info-content {
  padding-top: 15px;
  font-size: 16px;
  font-family: 'lato';
}

.enroll-form-control {
    -webkit-box-shadow: inset 0 -2px 0 rgb(0, 188, 212) !important;
    box-shadow: inset 0 -2px 0 rgb(0, 188, 212) !important;
}

.form-left {
  display: inline-block;
  vertical-align: top;
}

.form-right {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding: 20px;
}

.point-item {
    background-color: #eee;
    padding: 15px;
    text-align: left;
    margin: 15px;
    float: none;
    display: inline-block;
}

.point-container {
    text-align: center;
    padding: 40px 0;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-point > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#about {
  background-color: rgba(0,0,0,0.9);
}

#mission {
  background-color: rgba(0,0,0,0.85);
}

#contact {
  background-color: rgba(0,0,0,0.8);
}

@media (max-width: 600px) {
  .class-list-container {
    display: none;
  }
}
